VITE_API_BASE_URL=https://api-agromart.thebuidl.xyz
VITE_AUTH_GOOGLE_URL=https://api-agromart.thebuidl.xyz/auth/google
VITE_AUTH_FACEBOOK_URL=https://api-agromart.thebuidl.xyz/auth/facebook
VITE_AUTH_APPLE_URL=https://api-agromart.thebuidl.xyz/auth/apple
